<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cse_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.lectureroomReservation.ConfirmActivity"></activity>
        <activity android:name="com.example.lectureroomReservation.ReserveActivity" />
        <activity android:name="com.example.lectureroomReservation.MainActivity" />
        <activity android:name="com.example.lectureroomReservation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.lectureroomReservation.JoinActivity" />
    </application>

</manifest>